############################
# Java / Maven
############################
**/target/
backend/**/target/
spi/**/target/

*.class
*.jar
*.war
*.ear
hs_err_pid*

############################
# OpenAPI / Generated code
############################
**/generated-sources/
**/.openapi-generator/
**/*.sha256

############################
# Node / Frontend
############################
**/node_modules/
**/dist/
**/build/
package-lock.json
yarn.lock
pnpm-lock.yaml

############################
# Logs
############################
*.log
logs/

############################
# IDE / Editor
############################
.idea/
.vscode/
*.iml
*.ipr
*.iws

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
*.env


target/
**/target/
